text-outline(color=#000,size=1px)
  text-shadow (size * -1px) 0px 0px color, size 0px 0px color, 0px (size * -1px) 0px color , 0px size 0px color 

text-overflow-ellipsis()
  overflow hidden
  text-overflow ellipsis
  white-space nowrap