transition(prop,dur,func)
  -webkit-transition prop dur func
  -moz-transition prop dur func
  -o-transition prop dur func
  transition prop dur func


transition-property()
  -webkit-transition-property arguments
  -moz-transition-property arguments
  -o-transition-property arguments
  transition-property arguments
 
transition-duration()
  -webkit-transition-duration arguments
  -moz-transition-duration arguments
  -o-transition-duration arguments
  transition-duration arguments
   
transition-timing-function()
  -webkit-transition-timing-function arguments
  -moz-transition-timing-function arguments
  -o-transition-timing-function arguments
  transition-timing-function arguments
   
