@import 'box'
@import 'logstyles'
@import url(http://fonts.googleapis.com/css?family=Inconsolata)

.LogView
  font-size 16px
  font-family 'Inconsolata', sans-serif
  font-weight normal
  position relative

  &.scrollLock
    > .scrollLockIcon
      display block

  > .scrollLockIcon
    display none
    background-image url('/src/images/lock.png');
    position fixed
    right 5px
    top 32px
    background-size 100%
    width 64px
    height 64px
    opacity .65

  > .log
    padding 0px 5px 2px 5px
    width 100%
    box-sizing border-box
    white-space nowrap

    log-line-height = 14px

    &:hover
      background-color #222
      > .context, > .date, > .siteid, > .district, > .cat, > .ip, > .msg
        color log-text-color-hover
    
    &.WARN
      &:hover
        background-color #332D12
        > p, > a, > div
          color #C8AE44
      > .context, > .date, > .siteid, > .district, > .cat, > .ip
        color #665923
      > .msg
        color #C8AE44
    
    &.ERROR
      &:hover
        background-color #401313
        > p, > a, > div
          color #BD3737
      > .context, > .date, > .siteid, > .district, > .cat, > .ip
        color #732121
      > .msg
        color #BD3737

    > .context, > .date, > .siteid, > .district, > .cat, > .ip
      color log-text-color
      margin 0 10px 0 2px
      line-height log-line-height
      vertical-align middle
      display inline-block

    > .context
      width log-context-size
      vertical-align middle

    > .date
      width log-date-size

    > .siteid
      min-width log-siteid-size
      text-align right
    
    > .cat
      min-width log-cat-size

    > .ip
      color log-text-color
      overflow hidden
      margin 0 10px 0 0
      min-width log-ip-size
      white-space nowrap
      text-overflow ellipsis

    > .msg
      white-space nowrap
      display inline-block
      line-height log-line-height
      color log-text-color
